path_add PATH "$PWD/bin"

# only necessary on macos, but not harmful elsewhere:
path_add PATH /opt/homebrew/opt/coreutils/libexec/gnubin
path_add PATH /opt/homebrew/opt/gnu-tar/libexec/gnubin

export TOP "$PWD"
